
/* jsloader//css remote http://fonts.googleapis.com/css?family=Exo+2:400,100,200,200italic,300,300italic,400italic,500,600,500italic,600italic,700,800,700italic,800italic,900,900italic */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 200;
  src: local('Exo 2 Extra Light Italic'), local('Exo2-ExtraLightItalic'), url(http://fonts.gstatic.com/s/exo2/v4/7cHtv4okm5zmbtYtEyM98H0JnQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 300;
  src: local('Exo 2 Light Italic'), local('Exo2-LightItalic'), url(http://fonts.gstatic.com/s/exo2/v4/7cHtv4okm5zmbtYtE0c-8H0JnQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 400;
  src: local('Exo 2 Italic'), local('Exo2-Italic'), url(http://fonts.gstatic.com/s/exo2/v4/7cHov4okm5zmbtYtG-wc4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 500;
  src: local('Exo 2 Medium Italic'), local('Exo2-MediumItalic'), url(http://fonts.gstatic.com/s/exo2/v4/7cHtv4okm5zmbtYtEx8_8H0JnQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 600;
  src: local('Exo 2 Semi Bold Italic'), local('Exo2-SemiBoldItalic'), url(http://fonts.gstatic.com/s/exo2/v4/7cHtv4okm5zmbtYtEzM48H0JnQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 700;
  src: local('Exo 2 Bold Italic'), local('Exo2-BoldItalic'), url(http://fonts.gstatic.com/s/exo2/v4/7cHtv4okm5zmbtYtE1c58H0JnQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 800;
  src: local('Exo 2 Extra Bold Italic'), local('Exo2-ExtraBoldItalic'), url(http://fonts.gstatic.com/s/exo2/v4/7cHtv4okm5zmbtYtE0s68H0JnQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 900;
  src: local('Exo 2 Black Italic'), local('Exo2-BlackItalic'), url(http://fonts.gstatic.com/s/exo2/v4/7cHtv4okm5zmbtYtE2878H0JnQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100;
  src: local('Exo 2 Thin'), local('Exo2-Thin'), url(http://fonts.gstatic.com/s/exo2/v4/7cHov4okm5zmbt5LG-wc4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 200;
  src: local('Exo 2 Extra Light'), local('Exo2-ExtraLight'), url(http://fonts.gstatic.com/s/exo2/v4/7cHrv4okm5zmbt7nCvs7wHo.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  src: local('Exo 2 Light'), local('Exo2-Light'), url(http://fonts.gstatic.com/s/exo2/v4/7cHrv4okm5zmbt6DCfs7wHo.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url(http://fonts.gstatic.com/s/exo2/v4/7cHmv4okm5zmbtYoK-s.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  src: local('Exo 2 Medium'), local('Exo2-Medium'), url(http://fonts.gstatic.com/s/exo2/v4/7cHrv4okm5zmbt7bCPs7wHo.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  src: local('Exo 2 Semi Bold'), local('Exo2-SemiBold'), url(http://fonts.gstatic.com/s/exo2/v4/7cHrv4okm5zmbt73D_s7wHo.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: local('Exo 2 Bold'), local('Exo2-Bold'), url(http://fonts.gstatic.com/s/exo2/v4/7cHrv4okm5zmbt6TDvs7wHo.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 800;
  src: local('Exo 2 Extra Bold'), local('Exo2-ExtraBold'), url(http://fonts.gstatic.com/s/exo2/v4/7cHrv4okm5zmbt6PDfs7wHo.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 900;
  src: local('Exo 2 Black'), local('Exo2-Black'), url(http://fonts.gstatic.com/s/exo2/v4/7cHrv4okm5zmbt6rDPs7wHo.ttf) format('truetype');
}
/* jsloader // cached css // assets/css/home.css */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{height:100%;width:100%;}#sidebar,#contents{height:100%;min-height:500px;position:absolute;top:0;bottom:0;overflow:auto;padding:0;margin:0;}#sidebar{left:0;width:25%;background-color:#e6e6e6;}.sb-inner{text-align:center;height:160px;position:absolute;width:100%;top:50%;left:0;margin-top:-80px;}.sb-inner h1{font-family:'Exo 2',Helvetica,Arial,sans-serif;font-weight:300;color:#272822;font-size:25px;margin-top:10px;}#contents{right:0;width:75%;background-color:#272822;}#right,#left{height:100%;position:absolute;width:50%;text-align:center;cursor:pointer;display:block;}#left{left:0;}#right{right:0;background-color:#2e2f28;}.con-inner{height:400px;position:absolute;top:50%;margin-top:-200px;text-align:center;width:80%;left:10%;}
img{max-width:90%;}#contents h2{font-family:'Exo 2',Helvetica,Arial,sans-serif;font-weight:500;color:#dc971f;font-size:35px;margin-top:10px;}#contents ul{list-style:none;font-family:'Exo 2',Helvetica,Arial,sans-serif;font-weight:500;color:#e6e6e6;margin-top:10px;}@media(max-width:480px){body{overflow:hidden;}#right,#left{width:50%!important;}#sidebar{left:0;width:100%;background-color:#e6e6e6;height:120px;min-height:120px;z-index:3;overflow:hidden;}#sidebar img{width:50px;}.sb-inner{margin-top:-50px;}#contents{width:100%;overflow:hidden;}.con-inner{top:65%;}}
