/* cmsms stylesheet: home modified: 05/06/16 10:55:43 */
@media (max-width: 480px) {
    .sb-inner {margin-top: -50px !important;}
    #sidebar {min-height:180px !important;}
    #sidebar img {width:100px !important;}
    .con-inner {margin-top:-80px !important;}
    #contents img {margin-top:10% !important;}
}

@media (max-width: 767px) {
    #contents h2 {font-size:16px !important;}
    #sidebar img {width:70px !important;}
    .sb-inner h1 {font-size:14px !important;}
    #contents ul li {font-size:13px !important;}
    #sidebar, #contents {min-height:auto !important;}
    .con-inner {height:auto !important;}
    #contents img {margin-top:70%;}
}

