html, body, div, span, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		abbr, address, cite, code,
		del, dfn, em, img, ins, kbd, q, samp,
		small, strong, sub, sup, var,
		b, i,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td,
		article, aside, canvas, details, figcaption, figure, 
		footer, header, hgroup, menu, nav, section, summary,
		time, mark, audio, video {
		    margin:0;
		    padding:0;
		    border:0;
		    outline:0;
		    font-size:100%;
		    vertical-align:baseline;
		    background:transparent;
		}
		body{
			height: 100%;
			width: 100%;
		}
		#sidebar,#contents{
			height: 100%;
			min-height: 500px;
			position: absolute;
			top:0;
			bottom: 0;
			overflow: auto;
			padding: 0;
			margin:0;
			
		}
		#sidebar{
			left:0;
			width:25%;
			background-color: #e6e6e6;
		}
		.sb-inner{
			text-align: center;
			height: 160px;
			position: absolute;
			width: 100%;
			top: 50%;
			left: 0;
			margin-top: -80px;
		}
		
		.sb-inner h1{
			font-family: 'Exo 2', Helvetica, Arial, sans-serif;
			font-weight: 300;
			color:#272822;
			font-size: 25px;
			margin-top: 10px;
		}


		#contents{
			right:0;
			width:75%;
			background-color: #272822;
		}
		#right,#left{
			height: 100%;
			position: absolute;
			width:50%;
			text-align: center;
			cursor:pointer;
			display: block;
		}
		#left{left:0;}
		#right{right:0;background-color: #2e2f28;}
		.con-inner{
			height: 400px;
			position: absolute;
			top:50%;
			margin-top: -200px;
			text-align: center;
			width: 80%;
			left:10%;
		}
		img{
			max-width: 90%;
		}
		#contents h2{
			font-family: 'Exo 2', Helvetica, Arial, sans-serif;
			font-weight: 500;
			color:#dc971f;
			font-size: 35px;
			margin-top: 10px;
		}
		#contents ul{
			list-style: none;
			font-family: 'Exo 2', Helvetica, Arial, sans-serif;
			font-weight: 500;
			color:#e6e6e6;
			margin-top:10px;
		}
		@media (max-width: 480px) {
			body{overflow: hidden;}
			#right,#left{width:50% !important;}
			#sidebar {
				left: 0;
				width: 100%;
				background-color: #e6e6e6;
				height: 120px;
				min-height: 120px;
				z-index: 3;
				overflow: hidden;
			}
			#sidebar img{width:50px;}
			.sb-inner {margin-top:-50px;}
			#contents{width: 100%;overflow: hidden;}
			.con-inner{top:65%;}
		}