.wishlist_table .add_to_cart,
a.add_to_wishlist.button.alt {
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
}
img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}

.woocommerce form .form-row .required {
  visibility: visible;
}
#yith-quick-view-modal .yith-wcqv-main {
  background: #ffffff;
}
#yith-quick-view-close {
  color: #cdcdcd;
}
#yith-quick-view-close:hover {
  color: #ff0000;
}
.page-id-45.mkdf-boxed .mkdf-wrapper {
  background-attachment: fixed;
}
.page-id-45
  .mkdf-content
  .mkdf-content-inner
  > .mkdf-container
  > .mkdf-container-inner,
.page-id-45
  .mkdf-content
  .mkdf-content-inner
  > .mkdf-full-width
  > .mkdf-full-width-inner {
  padding: 0;
}
.page-id-45
  .mkdf-content
  .mkdf-content-inner
  > .mkdf-container
  > .mkdf-container-inner,
.page-id-45
  .mkdf-content
  .mkdf-content-inner
  > .mkdf-full-width
  > .mkdf-full-width-inner {
  padding: 0;
}

.vc_custom_1528278966873 {
  padding-top: 66px !important;
  padding-bottom: 36px !important;
}
.vc_custom_1528888583995 {
  padding-bottom: 95px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}
.vc_custom_1528375530139 {
  padding-top: 67px !important;
  padding-right: 15px !important;
  padding-bottom: 7px !important;
  padding-left: 15px !important;
}
.vc_custom_1528375150523 {
  padding-top: 30px !important;
  padding-bottom: 86px !important;
}
.vc_custom_1528958982561 {
  padding-top: 50px !important;
  padding-bottom: 30px !important;
}
.vc_custom_1528279001557 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.vc_custom_1528278580663 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.vc_custom_1528279009188 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.vc_custom_1527598313482 {
  padding-bottom: 55px !important;
}
.vc_custom_1528375214275 {
  border-bottom-width: 1px !important;
  padding-right: 0px !important;
  padding-bottom: 8px !important;
  padding-left: 0px !important;
  border-bottom-color: #f3f4fb !important;
  border-bottom-style: solid !important;
}
.vc_custom_1528958971324 {
  padding-top: 9px !important;
  padding-bottom: 20px !important;
}
</style
  > <noscript
  > <style
  type="text/css"
  > .wpb_animate_when_almost_visible {
  opacity: 1;
}
